{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/style_.css' %}">
</head>
<body>
    <nav id="nav">
        borgir
        <!-- hamburger sticky icon , hides on scroll down shows on scrollup -->
    </nav>
    <canvas id="canvas"></canvas>
    <main id="landing">
        
        <script>
            let canvas = document.getElementById("canvas");
            let landing = document.getElementById("landing");
            canvas.height = window.innerHeight;
            canvas.width = window.innerWidth;
            canvas.style.display = 'initial'
            window.addEventListener("resize",(e)=>{
                canvas.height = window.innerHeight;
                canvas.width = window.innerWidth;
            })

            let nav = document.getElementById("nav");
            let lastScrollTop = 0;

            window.addEventListener("scroll", function(){
                let st = window.pageYOffset || document.documentElement.scrollTop; 
                if (st > lastScrollTop){
                    //console.log("down");
                    nav.style.opacity = 0.1;
                } else {
                    //console.log("up");
                    nav.style.opacity = 1;
                }
                lastScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling
            }, false);
            
        </script>

        <div class="text-zone">
            <div class="title">
                <h1 aria-label="Hello,  I'm El Mehdi  A Web Developer" class="blast-root" id="let">
                <!-- dinamically make em in JS-->
                <!-- <span class="blast" aria-hidden="true" style="opacity: 1;">H</span>
                -->
                </h1>
            </div>
            <div class="sub-title"><p class="gray-text">Fullstack Developer | DevOps Enthusiast</p></div>
            <div style="display: flex;flex-wrap: wrap;gap:20px;" id="call-to-action">
                <a rel="contact" href="/contact/" class="flat-button bold">
                <div> 
                    <span class="bg"></span>
                    <span class="base"></span>
                    <span class="text">&#129309; Contact me!</span>
                </div> 
                </a>
                <a rel="resume" href="/resume/" class="flat-button">
                    <div> 
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">&#128196; Resume</span>
                    </div> 
                </a>
            </div>
        </div>
        <div class="img-zone">
            <!-- SKilss Sphere -->
            
        </div>
    </main>

    <section id="about">

            <!-- social links / paragraph styling / skills sphere -->
            <div grid-data="title">
                <h1>About Me</h1>
            </div>
            <div grid-data="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe alias non itaque totam accusantium esse   error adipisci libero neque voluptas, provident nisi repellendus minima voluptatem doloremque fuga autem  facilis veniam?</p>
            </div>
            <ul grid-data="social">
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
                <li>link4</li>
            </ul>
        <div grid-data="img-zone">
            <img src="https://i.pinimg.com/474x/94/bf/3b/94bf3bb8490d6a8290375ceba051630e.jpg" style="max-width: 30vw;">
        </div>
        <div grid-data="extra-links">
                <button>skills</button>
            </div>
    </section>
    <section id="skills" class="hidden">
        <h1>Skills</h1>
        <form action="">
            <input type="text" name="search-bar" id="">
        </form>
        <div>
            <div>
                <h3>low level ux design</h3>
                <p>UX-UI</p>
            </div>
            <div>
                <ul>
                    <li>css</li>
                    <li>wasm</li>
                </ul>
            </div>
        </div>

    </section>
    <section>
        <h1>Projects</h1>
        <form action="">
                <input type="text" name="search-bar" id="">
            </form>
            <div>
                <div>
                    <h3>File Sharing Plateform</h3>
                    <p>UX-UI</p>
                </div>
                <div>
                    <ul>
                        <li>css</li>
                        <li>wasm</li>
                    </ul>
                </div>
            </div>
    </section>
    <script src="{% static '/js/oscillator.js' %}"></script>
</body>
</html>