{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/style_.css' %}">
</head>
<body>
    <nav id="nav">
        borgir
        <!-- hamburger sticky icon , hides on scroll down shows on scrollup -->
    </nav>
    <main id="landing">

        <div class="text-zone">
            <div class="title">
                <h1 aria-label="Hello,  I'm El Mehdi  A Web Developer" class="blast-root dynamic-content" id="let">
                <!-- dinamically make em in JS-->
                <!-- <span class="blast" aria-hidden="true" style="opacity: 1;">H</span>
                -->
                </h1>
            </div>
            <div class="sub-title"><p class="gray-text">Fullstack Developer 👨‍💻 | Algebra Enjoyer 🧮</p></div>
            <div class="dynamic-content" id="call-to-action">
                <a rel="contact" href="/contact/" class="flat-button bold">
                <div> 
                    <span class="bg"></span>
                    <span class="base"></span>
                    <span class="text">&#129309; Contact me!</span>
                </div> 
                </a>
                <a rel="resume" href="/resume/" class="flat-button">
                    <div> 
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">&#128196; Resume</span>
                    </div> 
                </a>
            </div>
        </div>
        <div class="img-zone dynamic-content">
            <!-- SKilss Sphere -->
            <canvas id="skills-canvas"></canvas>
        </div>
    </main>

    <section id="about">
        <canvas id="canvas"></canvas>
            <!-- social links / paragraph styling / skills sphere -->
            <div grid-data="title">
                <h1>About Me</h1>
            </div>
            <div grid-data="description" class="paragraph dynamic-content">
                <p>I'm El Mehdi OUDAOUD, a well rounded Full-Stack Web Developer, currently 3rd year software engineering student at <a href="http://ensias.um5.ac.ma/" class="inline-link" target="_blank"><b>ENSIAS</b></a>. I am new and inexperienced. But I take pride in building and deploying plateforms that will contribute to your goals. Let's work together 😊</p>
            </div>
            <div grid-data="social" class="social dynamic-content">
                <div class="center">
                    <div id="social-test">
                    <ul class="social">
                      <!-- <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                      <li><i class="fa fa-vimeo" aria-hidden="true"></i></li>
                      <li><i class="fa fa-behance" aria-hidden="true"></i></li>
                      <li><i class="fa fa-dribbble" aria-hidden="true"></i></li> -->
                      <li><i class="fa fa-github" aria-hidden="true"></i></li>
                      <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                      <li><i class="fa fa-at" aria-hidden="true"></i></li>
                      <!-- <li><i class="fa fa-pied-piper" aria-hidden="true"></i></li> -->
                    </ul>
                    </div>
                      </div>
            </div>
        <div grid-data="img-zone">
            <img src="https://i.pinimg.com/474x/94/bf/3b/94bf3bb8490d6a8290375ceba051630e.jpg" style="max-width: 30vw;">
        </div>
        <div grid-data="extra-links" class="dynamic-content">
            <div>
                <a rel="contact" href="/contact/" class="flat-button bold">
                    <div> 
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">See Skills ✨</span>
                    </div> 
                    </a>
            </div>        
        </div>
    </section>

    <section id="projects">
        <h1>Projects</h1>
        <form action="">
                <input type="text" name="search-bar" id="">
            </form>
            <div>
                <div>
                    <h3>File Sharing Plateform</h3>
                    <p>UX-UI</p>
                </div>
                <div>
                    <ul>
                        <li>css</li>
                        <li>wasm</li>
                    </ul>
                </div>
            </div>
    </section>
    
    <section id="skills">
        <h1>Skills</h1>
        <form action="">
            <input type="text" name="search-bar" id="">
        </form>
        <div>
            <div>
                <h3>low level ux design</h3>
                <p>UX-UI</p>
            </div>
            <div>
                <ul>
                    <li>css</li>
                    <li>wasm</li>
                </ul>
            </div>
        </div>

    </section>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/opentype.js/1.3.3/opentype.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash.shuffle@4.2.0/index.js"></script>
    <script src="{% static '/js/oscillator.js' %}"></script>
</body>
</html>