/*
*Globals
*/
:root {
    --dark: #222;
    --light: #fff;
    --light-beige:#fdf3db;
    --dark-beige:#fceabb;
    --light-red:#f86b6b;
    --dark-red:#f12626;
    --dark-red2:#a31515;
    --light-pink:#FCD8D4;
    --dynamic-zIndex : 20;
    --cursorTrail-zIndex: 10;
    --static-zIndex : 0;
  }
*{
    margin: 0;
    padding: 0;
    background: transparent;
    z-index: var(--static-zIndex);
}
html{
    font-size: 62.5%;
}
@font-face{
    font-family: BreveSc;
    src: url("BreveSc-a1zR.woff2");/*MAKE SURE TO FIX URL BEFORE DEPLOYEMENT*/
}
@font-face{
    font-family: IBM;
    src: url("IBMPlexSerif-ExtraLight.ttf");/*MAKE SURE TO FIX URL BEFORE DEPLOYEMENT*/
}
@font-face{
    font-family: IBMBold;
    src: url("IBMPlexSerif-Bold.ttf");/*MAKE SURE TO FIX URL BEFORE DEPLOYEMENT*/
}
@font-face{
    font-family: rubik;
    src: url("rubikmono.ttf");/*MAKE SURE TO FIX URL BEFORE DEPLOYEMENT*/
}
@font-face{
    font-family: DancingScript;
    src: url("DancingScript-VariableFont_wght.ttf");/*MAKE SURE TO FIX URL BEFORE DEPLOYEMENT*/
}


body {
    font-size: 1.6rem;
    line-height: 1.5;
    min-width: 320px;
    font-family: "Open Sans", sans-serif;
    color: var(--light);
    overflow-y: scroll;
    overflow-x: hidden;
}
h1 {
    color: var(--light);
    margin: 0;
    font-family: BreveSc;
    font-weight: 400;
    font-size: 10.3rem;
    line-height: 8.7rem;
    position: relative
}

a {
    background-color: transparent;
    color: var(--light-pink);
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    text-decoration: none
}
a:hover {
    color: rgb(231, 184, 172);
}

img {
    max-width: 100%
}

svg:not(:root) {
    overflow: hidden
}
h2 .blast, h1 .blast {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
.flat-button {
    color: var(--light);
    font-size: 14px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    background-color: rgb(255,255,255,0.2);
}
.flat-button div {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.flat-button:hover {
    color: var(--light);
}
.flat-button span.bg {
    left: -5%;
    position: absolute;
    background: var(--dark-red2); ;
    width: 0;
    height: 100%;
    z-index: calc(var(--dynamic-zIndex) + 3);
    -webkit-transition: .3s ease-out all;
    -o-transition: .3s ease-out all;
    transition: .3s ease-out all;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.flat-button:hover span.bg {
    width: 150%;
}

.flat-button:hover span.text:after {
    background: var(--light);
}

.flat-button span.base {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: calc(var(--dynamic-zIndex) + 2);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid var(--dark);
}

.flat-button span.text {
    z-index: calc(var(--dynamic-zIndex) + 4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}
.bold{
    color: var(--light);
    background: var(--dark-red);
}
.bold span.bg{
    /* background: var(--dark); */
    background: var(--dark-red2); 
}
.dynamic-content{
    z-index: var(--dynamic-zIndex);
}
/*
* Componenets Styles
*/
/*
* Navigation
*/
#nav{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    transition: 0.6s;
}
/*
* Main / Landing Section
*/
#landing{
    height: 100vh;
    width: 100vw;
}

#landing {
    /*background: linear-gradient(90deg, #fceabb, #fdf3db);*/
    background: linear-gradient(90deg, #111, #222);
    display: grid;
    padding: 0 0 0 6vw;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 60fr 5fr 15fr;
    grid-template-areas: 
        " title img "
        " sub-title img "
        " actions img ";
}
#landing .text-zone > :nth-child(2n) {
    padding: 2rem 0 ;
}

#landing .title{grid-column:title;}
#landing .sub-title{grid-column:sub-title;font-size: 2.4rem;font-family: DancingScript;
    margin: 3rem 0rem 3rem 3rem;}
#landing #call-to-action{grid-column:actions;display: flex;flex-wrap: wrap;gap:20px;}
#landing .img-zone{grid-column:img}
/*
* About section
*/
#about{
    width: 100vw;
    max-height: 600px;
}

#about {
    background: linear-gradient(90deg, #111, #222);
    display: grid;
    padding: 2vw 0 5vw 6vw;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 7fr 1fr 1fr;
    grid-row-gap: 0.5rem;
}
#about [grid-data="title"]{grid-column:1/4;grid-row: 1/2;align-self: center;}
#about [grid-data="description"]{grid-column:1/3;grid-row: 2/4;align-self: center;}
#about [grid-data="social"]{grid-column: 1/3;grid-row: 4/5;align-self: end;text-align: center;}
#about [grid-data="img-zone"]{grid-column:3/6;grid-row: 1/4;align-self: center;text-align: center;}
#about [grid-data="extra-links"]{    grid-column: 4/5;grid-row: 4/5;align-self: end;text-align: -webkit-center;}
.inline-link{
    color:var(--dark-red);
}
.inline-link:hover{
    color:var(--light);
}
.inline-link:visited{
    color:var(--dark-red2);
}
#about .paragraph{
    text-align: justify;
    text-justify: inter-word;
    line-height: 3;
    font-size: 1.8rem;
    font-family: IBM,"sans-serif";
    padding-left: 1rem;
}
#about .social{
    display: flex;
    gap: 10px;
}
#about .social div {
    margin: 0.5rem;
}
/*
*Social links
*/  
.center {
  display: table;
}
  
#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}
#social-test h2 {
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
}
#social-test .social {
    padding-left: 0px;
}
#social-test li {
    color: var(--dark-red2);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid var(--dark-red2);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease-out .4s;
    
  }
  #social-test li:hover {
    color: var(--light-red);
    background: var(--light);
    border: 1px solid var(--dark);
  }
  #social-test li:hover i {
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

.social:hover > li {
    font-size: 80%;
    opacity: 0.5;
}

.social:hover > li:hover {
    font-size: 110%;
    opacity: 1;
}
/*
*Animations
*/
#skills-canvas{
    padding: 2rem 1rem 0 0; 
}
#skills-canvas:hover{
    cursor: pointer;
}
#canvas{
    position: absolute;
    z-index: var(--cursorTrail-zIndex);
    display:none;
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        color:var(--light);
		transform: scale3d(1, 1, 1)
	}
	30% {
		-webkit-transform: scale3d(1.35, .75, 1);
		-ms-transform: scale3d(1.35, .75, 1);
		transform: scale3d(1.35, .75, 1)
	}
	40% {
		-webkit-transform: scale3d(.75, 1.25, 1);
		-ms-transform: scale3d(.75, 1.25, 1);
		transform: scale3d(.75, 1.25, 1)
	}
	50% {
		-webkit-transform: scale3d(1.5, .85, 1);
		-ms-transform: scale3d(1.5, .85, 1);
		transform: scale3d(1.5, .85, 1)
	}
	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		-ms-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1)
	}
	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		-ms-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1)
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        color:var(--dark-red);
		transform: scale3d(1, 1, 1)
	}
}

.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s
}